{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Forum - Sign Up</title>

    <!-- <script src="../src/utils/common script.js"></script>
    <script src="../src/components/navbar.js"></script>
    <script src="../src/scripts/register.js" defer></script>
    <link rel="stylesheet" href="../src/utils/common style.css">
    <link rel="stylesheet" href="../src/styles/register.css"> -->

    <script src="{% static 'app/js/global-script.js' %}"></script>
    <script src="{% static 'app/js/navbar.js' %}"></script>
    <script src="{% static 'accounts/js/register.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/global-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/register.css' %}">
</head>
<body>
    <nav-bar 
        logged-in="{{ user.is_authenticated }}"
        username = "{{ user.username }}"
        home-link = "{% url 'home' %}"
        login-link = "{% url 'login' %}"
        register-link = "{% url 'register' %}">
    </nav-bar>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="primary-button" id="form-submit">Create Account</button>
    </form>

</body>
</html>