{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>

    <script src="{% static 'app/js/global-script.js' %}"></script>
    <script src="{% static 'app/js/navbar.js' %}"></script>
    <script src="{% static 'app/js/text-editor.js' %}"></script>
    <script src="{% static 'accounts/js/settings.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/global-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/settings.css' %}">

</head>
<body>
    <nav-bar 
        logged-in="{{ user.is_authenticated }}"
        username = "{{ user.username }}"
        home-link = "{% url 'home' %}"
        login-link = "{% url 'login' %}"
        register-link = "{% url 'register' %}">
    </nav-bar>

    <script>
        const CURRENT_USERNAME = "{{ user.username }}"
        const HOME_PAGE = "{% url 'home' %}"
        const INITIAL_BIO = "{{ profile.bio }}"
    </script>
    
    <dialog id="delete-account-warning" closed>
        <p>Warning! This action cannot be undone, please confirm.</p>

        <div class="button-row">
            <button class="danger-button">Confirm Deletion</button>
            <button class="secondary-button">Cancel</button>
        </div>
    </dialog>

    <div id="settings-card">
        <aside id="setting-select">
            <ul>
                <li class="active" data-value="account">Account</li>
                <!-- <li>Privacy</li> -->
                <li data-value="profile">Profile</li>
            </ul>
        </aside>

        <section id="main-settings">
            <div class="setting-card" data-value="account" data-active="true">
                <div class="setting-chunk">
                    <h1 class="setting-title">Account Info</h1>
                    <hr>

                    <div class="setting-option">
                        <p class="setting-text">Reset the Username on your account</p>
                        <button id="change-username-button" class="primary-button" data-destiantion="{% url 'change_username' %}">Change Username</button>
                    </div>

                    <div class="setting-option">
                        <p class="setting-text">Reset the Password on your account</p>
                        <button id="change-password-button" class="secondary-button" data-destination="{% url 'change_password' %}">Change Password</button>
                    </div>
                </div>

                <div class="setting-chunk">
                    <h1 class="setting-title danger-title">Delete Account</h1>
                    <hr>

                    <div class="setting-option setting-danger">
                        <p class="setting-text">Account deletion is permanent, be sure before proceeding.</p>
                        <button class="danger-button" id="delete-account-setting">Delete</button>
                    </div>
                </div>
            </div>

            <div class="setting-card" data-value="profile" data-active="false">
                <h1 class="setting-title">Change Bio</h1>
                <hr>

                <div class="setting-option">
                    <text-editor id="bio-text-editor" confirm-button-text="Change Bio"></text-editor>
                </div>
            </div>
        </section>
    </div>
    
</body>
</html>