{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Forum - Thread</title>

    <script src="{% static 'app/js/global-script.js' %}"></script>
    <script src="{% static 'app/js/navbar.js' %}"></script>
    <script src="{% static 'app/js/thread-post.js' %}"></script>
    <script src="{% static 'app/js/text-editor.js' %}"></script>
    <script src="{% static 'forum/js/thread.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/global-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/thread.css' %}">
</head>
<body>
    <nav-bar 
        logged-in="{{ user.is_authenticated }}"
        username = "{{ user.username }}"
        home-link = "{% url 'home' %}"
        login-link = "{% url 'login' %}"
        register-link = "{% url 'register' %}">
    </nav-bar>

    <div id="thread-title-container">
        <h1 id="thread-title">{{thread.title}}</h1>
    </div>

    <div id="thread-content">

        {% for post in posts %}
            <thread-post 
                user-name="{{ post.author.username }}"
                message="{{ post.content }}"
                profile-url="{% url 'profile-by-username' post.author.username %}">
            </thread-post>
        {% endfor %}

    </div>

    <div id="comment-area">
        <h1>Comment</h1>
        <text-editor confirm-button-text="Comment"></text-editor>
    </div>

</body>
</html>