form {
    width: 90%;
    max-width: 1000px;
    margin: var(--spacing-s) auto;
    background: var(--bg);
    border-radius: 10px;
    border: var(--border);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    padding: var(--spacing-l) var(--spacing-s);
}

form p {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xs);
    align-items: center;
    height: max-content;
    flex-wrap:wrap;
    width: 100%;
    justify-content: space-between;
}

form p > label {
    color: var(--text);
    flex: 40%;
}

form p > input[type="text"],
form p > input[type="email"],
form p > input[type="password"] {
    font-family: var(--ff);
    background: var(--bg-light);
    border-radius: 5px;
    border: var(--border);
    color: var(--text);
    font-size: 1rem;
    padding: var(--spacing-xxs);
    margin: 0;
    flex: 50%;
}

form p > input[type="text"]::after {
    content: "<br>";
    white-space: pre;
}

form p > .helptext {
    overflow-wrap: break-word;
    text-align: center;
    font-size: 0.85rem;
    padding-left: var(--spacing-m);
}

form > ul {
    list-style-type: none;
    margin: 0;
    padding-left: var(--spacing-m);
    font-size: 0.85rem;
    line-height: 1.125rem;
}

#id_password1_helptext {
    display: none;
}

#form-submit {
    width: 40%;
    align-self: center;
    margin-top: var(--spacing-l);
}