#register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(200px, 50%, 600px);
    background: var(--bg);
    padding: var(--spacing-xl);
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing-m);
}

form h1 {
    color: var(--text);
    font-weight: bold;
    align-self: center;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: var(--spacing-m);
}

.input-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: none;
    gap: var(--spacing-s);
}

.form-text {
    display: inline;
    margin: 0;
    align-self: center;
    font-weight: bold;
    flex: 1 0 auto;
    width: 30%;
    text-align: right;
}

.form-input {
    flex: 1 0 auto;
    border: 1px var(--bg-dark) solid;
    background: var(--bg-light);
    outline: none;
    font-size: 1rem;
    color: var(--text);
    padding: 3px 4px;
    width: 60%;
    height: initial;
}

input[type="text"], input[type="password"] {
    font-family: var(--ff);
    color: var(--text);
}

input[type="checkbox"] {
    accent-color: var(--primary);
    background: var(--bg-light);
}

input[type="checkbox"]:hover {
    cursor: pointer;
    
}

#submit-register {
    align-self: center;
    margin-top: var(--spacing-xs);
}

.help-line {
    margin-top: var(--spacing-xxl);
    text-align: center;
}

a {
    color: var(--secondary);
}