#settings-card {
    width: 80%;
    margin: var(--spacing-s) auto;
    background: var(--bg);
    border: var(--border);
    border-radius: 20px;
    padding: var(--spacing-m);
    display: grid;
    grid-template-columns: 150px 5fr;
    grid-template-rows: auto 50px;
    grid-template-areas: "sidebar settings" "footer footer"
}

#setting-select {
    grid-area: sidebar;
    background: var(--bg-m-light);
    border-radius: 10px;
}

#setting-select ul {
    list-style: none;
    padding: var(--spacing-xs);
}

#setting-select li {
    margin: var(--spacing-xs);
    padding: var(--spacing-s);
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

#setting-select li:hover,
#setting-select .active {
    background: var(--bg-light);
}

#main-settings {
    grid-area: settings;
}

#setting-options {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-s);
    align-items: center;
    justify-content: flex-end;
}

.text-editor {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    justify-content: flex-start;
    align-items: flex-start;
}

.editable-text-field {
    border: 1px var(--text) solid;
    min-height: 200px;
    width: 100%;
    padding: var(--spacing-s);
    border-radius: 10px;
    background: var(--bg-m-light);
    color: var(--text);
}

.editable-text-field:focus {
    outline: none;
}

.title-data {
    border: 1px var(--text) solid;
    width: 100%;
    padding: var(--spacing-s);
    border-radius: 10px;
    background: var(--bg-m-light);
    color: var(--text);
    font-family: var(--ff);
    font-size: 1.25rem;
}

.button-bar {
    display: flex;
    gap: var(--spacing-s);
    width: 100%;
    justify-content: flex-end;
}

dialog {
    background: var(--bg-m-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: var(--border);
    border-radius: 15px;
    margin: 0;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-m);
    justify-content: space-between;
    align-items: center;
}

.button-row button {
    flex: 50%;
}