{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Forum - Home</title>
    

    <script src="{% static 'app/js/global-script.js' %}"></script>
    <script src="{% static 'app/js/navbar.js' %}"></script>
    <script src="{% static 'app/js/subforum-link.js' %}"></script>
    <script src="{% static 'app/js/thread-highlight.js' %}"></script>
    <script src="{% static 'core/js/home.js' %}" defer></script>

    <link rel="stylesheet" href="{% static 'app/css/global-style.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/home.css'%}">
</head>
<body>
    <nav-bar 
        logged-in="{{ user.is_authenticated }}"
        username = "{{ user.username }}"
        home-link = "{% url 'home' %}"
        login-link = "{% url 'login' %}"
        register-link = "{% url 'register' %}">
    </nav-bar>

    <main>

        <div id="title-card">
            <h1>Games Forum</h1>
            {% if user.is_authenticated %}
                <button id="post-button" class="primary-button" data-postURL="{% url 'new_thread' %}">+ New Post</button>
                <script>
                    const postButton = document.getElementById('post-button')
                    postButton.addEventListener('click', () => {
                        window.location.href = postButton.dataset.posturl
                    })
                </script>
            {% endif %}
        </div>

        <div id="subforum-links">
            <subforum-link subforum="{% url 'forum_category' catName='Action' %}" display-name="Action"></subforum-link>
            <subforum-link subforum="{% url 'forum_category' catName='Adventure' %}" display-name="Adventure"></subforum-link>
            <subforum-link subforum="{% url 'forum_category' catName='Indie' %}" display-name="Indie"></subforum-link>
            <subforum-link subforum="{% url 'forum_category' catName='Platformer' %}" display-name="Platformer"></subforum-link>
            <subforum-link subforum="{% url 'forum_category' catName='Puzzle' %}" display-name="Puzzle"></subforum-link>
            <subforum-link subforum="{% url 'forum_category' catName='RPG' %}" display-name="RPG"></subforum-link>
        </div>

        <div class="new-posts-highlight">
            
            <div class="thread-highlights">
                {% for thread in threads %}
                    <thread-highlight
                        user-name="{{ thread.creator.username }}"
                        user-profile-link="{% url 'profile-by-username' thread.creator.username %}"
                        title="{{ thread.title }}"
                        thread-link="{% url 'thread_detail' thread.id %}"></thread-highlight>
                {% endfor %}
            </div>
        </div>

    </main>

</body>
</html>